body {
    font-family: Arial;
    background: #f4f6f9;
    text-align: center;
    padding: 20px;
}

.container {
    background: white;
    padding: 20px;
    width: 400px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
}

input, select {
    width: 90%;
    padding: 8px;
    margin: 8px 0;
}

button {
    padding: 10px 20px;
    background: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

.result {
    margin-top: 15px;
    font-weight: bold;
}

canvas {
    margin-top: 30px;
}